<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Profile " [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <!--end col-->
    <div class="col-xxl-3">
        <div class="card overflow-hidden">
            <div>
                <img src="assets/images/small/img-7.jpg" alt="" id="cover-img" class="card-img-top profile-wid-img object-fit-cover" style="height: 200px;">
                <div>
                    <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input d-none" (change)="fileChange($event,'0')">
                </div>
            </div>
            <div class="card-body pt-0 mt-n5">
                <div class="text-center">
                    <div class="profile-user position-relative d-inline-block mx-auto">
                        <img [src]="imageToShow"  alt="photo de profile" id="user-img" class="avatar-lg rounded-circle object-fit-cover border-0 img-thumbnail user-profile-image">
                        <div class="avatar-xs p-0 rounded-circle profile-photo-edit position-absolute end-0 bottom-0">
                            <input id="profile-img-file-input" type="file" class="profile-img-file-input d-none" (change)="onFileSelected($event)">
                            <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                <span class="avatar-title rounded-circle bg-light text-body">
                                    <i class="bi bi-camera"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="currentUserLocal.scope === 'COMPANY'" class="mt-3">
                        <h5>{{currentUser.companyName}}<i class="bi bi-patch-check-fill align-baseline text-info ms-1"></i></h5>
                        <p class="text-muted">{{currentUser.companyAddress}}</p>
                    </div>
                    <div *ngIf="currentUserLocal.scope !== 'COMPANY'" class="mt-3">
                    <h5>{{currentUser.firstName}} {{currentUser.lastName}} <i class="bi bi-patch-check-fill align-baseline text-info ms-1"></i></h5>
                    <p class="text-muted">{{currentUser.profession}}</p>
                  </div>

                </div>
            </div>
          
          
        </div>
    </div>
    <div class="col-xxl-9">

      
        <div class="card">
            <div class="tab-content">
                <div [hidden]="currentTab !== 'personalDetails'" class="tab-pane active" id="personalDetails" role="tabpanel">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title mb-0">Détails personnels</h6>
                        </div>
                        
                        <div  class="card-body">
                        <form (submit)="updateUserProfile()">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="mb-3">
                                <label for="firstnameInput" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstnameInput" placeholder="Enter your firstname" [(ngModel)]="currentUser.firstName" name="firstName">
                              </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                              <div class="mb-3">
                                <label for="lastnameInput" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastnameInput" placeholder="Enter your last name" [(ngModel)]="currentUser.lastName" name="lastName">
                              </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                              <div class="mb-3">
                                <label for="phonenumberInput" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" id="phonenumberInput" placeholder="Enter your phone number" [(ngModel)]="currentUser.phone" name="phone" >
                              </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                              <div class="mb-3">
                                <label for="emailInput" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email" [(ngModel)]="currentUser.email" name="email">
                              </div>
                            </div>
                            <!--end col-->
                           
                            <div class="col-lg-12">
                              <div class="hstack gap-2 justify-content-end">
                                <button type="submit" class="btn btn-primary">Modifier</button>
                                <button type="button" class="btn btn-subtle-danger">Annuler</button>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </form>
                      </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->
