<header id="page-topbar" (window:scroll)="windowScroll()">
  <div class="layout-width">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box horizontal-logo">
          <a routerLink="/" class="logo logo-dark">
                         <span class="logo-sm">
                <img src="assets/images/logo/logo-sm.png" alt="" height="10">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo/logo-lg-light.png" alt="" height="50" width="180">
            </span>
          </a>

          <a routerLink="/" class="logo logo-light">
                          <span class="logo-sm">
                <img src="assets/images/logo/logo-sm.png" alt="" height="10">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo/logo-lg-dark.png" alt="" height="50" width="180">
            </span>
          </a>
        </div>

        <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger shadow-none" id="topnav-hamburger-icon" (click)="toggleMobileMenu($event)">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
        </button>

        <form class="app-search d-none d-md-inline-flex">
          <div class="position-relative">
            
            <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none" id="search-close-options" (click)="closeBtn()"></span>
          </div>
          <div class="dropdown-menu dropdown-menu-lg" id="search-dropdown">
            <ngx-simplebar style="max-height: 320px;">
              <!-- item-->
              <div class="dropdown-header">
                <h6 class="text-overflow text-muted mb-0 text-uppercase">Recent Searches</h6>
              </div>

              <div class="dropdown-item bg-transparent text-wrap">
                <a routerLink="/" class="btn btn-subtle-secondary btn-sm btn-rounded me-1">how to setup <i class="mdi mdi-magnify"></i></a>
                <a routerLink="/" class="btn btn-subtle-secondary btn-sm btn-rounded">buttons <i class="mdi mdi-magnify"></i></a>
              </div>
              <!-- item-->
              <div class="dropdown-header mt-2">
                <h6 class="text-overflow text-muted mb-1 text-uppercase">Pages</h6>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="ri-bubble-chart-line align-middle fs-18 text-muted me-2"></i>
                <span>Analytics Dashboard</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="ri-lifebuoy-line align-middle fs-18 text-muted me-2"></i>
                <span>Help Center</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="ri-user-settings-line align-middle fs-18 text-muted me-2"></i>
                <span>My account settings</span>
              </a>

              <!-- item-->
              <div class="dropdown-header mt-2">
                <h6 class="text-overflow text-muted mb-2 text-uppercase">Members</h6>
              </div>

              <div class="notification-list">
                <!-- item -->
                <a href="javascript:void(0);" class="dropdown-item notify-item py-2">
                  <div class="d-flex">
                    <img src="assets/images/users/48/avatar-2.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                    <div class="flex-1">
                      <h6 class="m-0">Angela Bernier</h6>
                      <span class="fs-11 mb-0 text-muted">Manager</span>
                    </div>
                  </div>
                </a>
                <!-- item -->
                <a href="javascript:void(0);" class="dropdown-item notify-item py-2">
                  <div class="d-flex">
                    <img src="assets/images/users/avatar-3.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                    <div class="flex-1">
                      <h6 class="m-0">David Grasso</h6>
                      <span class="fs-11 mb-0 text-muted">Web Designer</span>
                    </div>
                  </div>
                </a>
                <!-- item -->
                <a href="javascript:void(0);" class="dropdown-item notify-item py-2">
                  <div class="d-flex">
                    <img src="assets/images/users/avatar-5.jpg" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                    <div class="flex-1">
                      <h6 class="m-0">Mike Bunch</h6>
                      <span class="fs-11 mb-0 text-muted">React Developer</span>
                    </div>
                  </div>
                </a>
              </div>
            </ngx-simplebar>

            <div class="text-center pt-3 pb-1">
              <a href="javascript:void(0);" class="btn btn-primary btn-sm">View All Results <i class="ri-arrow-right-line ms-1"></i></a>
            </div>
          </div>
        </form>
      </div>

      <div class="d-flex align-items-center">

        <div dropdown class="dropdown topbar-head-dropdown ms-1 header-item">
          <button dropdownToggle type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class='bi bi-grid fs-2xl'></i>
          </button>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 dropdown-responsive">
            <div class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="m-0 fw-semibold fs-base"> Browse by Apps </h6>
                </div>
                <div class="col-auto">
                  <a href="javascript:void(0);" class="btn btn-sm btn-subtle-info"> View All Apps
                    <i class="ri-arrow-right-s-line align-middle"></i></a>
                </div>
              </div>
            </div>

            <div class="p-2">
              <div class="row g-0">
                <div class="col">
                  <a class="dropdown-icon-item" href="javascript:void(0);">
                    <img src="assets/images/brands/github.png" alt="Github">
                    <span>GitHub</span>
                  </a>
                </div>
                <div class="col">
                  <a class="dropdown-icon-item" href="javascript:void(0);">
                    <img src="assets/images/brands/bitbucket.png" alt="bitbucket">
                    <span>Bitbucket</span>
                  </a>
                </div>
                <div class="col">
                  <a class="dropdown-icon-item" href="javascript:void(0);">
                    <img src="assets/images/brands/dribbble.png" alt="dribbble">
                    <span>Dribbble</span>
                  </a>
                </div>
              </div>

              <div class="row g-0">
                <div class="col">
                  <a class="dropdown-icon-item" href="javascript:void(0);">
                    <img src="assets/images/brands/dropbox.png" alt="dropbox">
                    <span>Dropbox</span>
                  </a>
                </div>
                <div class="col">
                  <a class="dropdown-icon-item" href="javascript:void(0);">
                    <img src="assets/images/brands/mail_chimp.png" alt="mail_chimp">
                    <span>Mail Chimp</span>
                  </a>
                </div>
                <div class="col">
                  <a class="dropdown-icon-item" href="javascript:void(0);">
                    <img src="assets/images/brands/slack.png" alt="slack">
                    <span>Slack</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      
        

        <div class="ms-1 header-item d-none d-sm-flex">
          <button type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle" data-toggle="fullscreen" (click)="fullscreen()">
            <i class="bi bi-arrows-fullscreen fs-lg"></i>
          </button>
        </div>

        <div dropdown container="body" class="dropdown topbar-head-dropdown ms-1 header-item">
          <button dropdownToggle type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle mode-layout">
            <i class="bi bi-sun align-middle fs-3xl"></i>
          </button>
          <div *dropdownMenu class="dropdown-menu p-2 dropdown-menu-end" id="light-dark-mode">
            <a href="javascript:void(0);" class="dropdown-item" (click)="changeMode('light')"><i class="bi bi-sun align-middle me-2"></i> Defualt (light mode)</a>
            <a href="javascript:void(0);" class="dropdown-item" (click)="changeMode('dark')"><i class="bi bi-moon align-middle me-2"></i> Dark</a>
            <a href="javascript:void(0);" class="dropdown-item" (click)="changeMode('auto')"><i class="bi bi-moon-stars align-middle me-2"></i> Auto (system defualt)</a>
          </div>
        </div>

        <div dropdown [insideClick]="true" class="dropdown topbar-head-dropdown ms-1 header-item" id="notificationDropdown">
          <button dropdownToggle type="button" class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
            <i class='bi bi-bell fs-2xl'></i>
            <span class="position-absolute topbar-badge fs-3xs translate-middle badge rounded-pill bg-danger"><span class="notification-badge">{{notificationList.length}}</span><span class="visually-hidden">unread messages</span></span>
          </button>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">

            <div class="dropdown-head rounded-top">
              <div class="p-3 border-bottom border-bottom-dashed">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="mb-0 fs-lg fw-semibold"> Notifications <span class="badge bg-danger-subtle text-danger fs-sm notification-badge"> {{notificationList.length}}</span></h6>
                    <p class="fs-md text-muted mt-1 mb-0">You have <span class="fw-semibold notification-unread">{{newNotify}}</span> unread messages</p>
                  </div>
                  <div dropdown class="col-auto dropdown">
                    <a dropdownToggle href="javascript:void(0);" data-bs-toggle="dropdown" class="link-secondary fs-md"><i class="bi bi-three-dots-vertical"></i></a>
                    <ul *dropdownMenu class="dropdown-menu">
                      <li><a class="dropdown-item" href="javascript:void(0);" (click)="markAllNotificationsAsRead()">Mark all as read</a></li>                                        </ul>
                  </div>
                </div>
              </div>

            </div>

            <div class="py-2 ps-2" id="notificationItemsTabContent">
              <ngx-simplebar data-simplebar-track="light" style="max-height: 300px;" class="pe-2">
                <h6 *ngIf="unreadNotifications.length > 0" class="mt-0 mb-1 fs-md fw-semibold text-overflow text-muted fs-sm my-2 text-uppercase notification-title ng-star-inserted">New</h6>
                <div *ngFor="let notification of unreadNotifications">
                  <div class="text-reset notification-item d-block dropdown-item position-relative" [ngClass]="!notification.isRead?'unread-message':''" (click)="checkNotification(notification)" style="border-bottom: 1px solid #D3D3D3">
                    <div class="d-flex">
                      <div class="avatar-xs me-3 flex-shrink-0">
                                <span class="avatar-title  rounded-circle fs-lg">
                                 <img class="rounded-circle header-profile-user" [src]="notification.user.photoProfileUrl"  alt="Header Avatar">
                                </span>
                      </div>
                      <div class="flex-grow-1">
                        <a href="javascript:void(0);" class="stretched-link" style="color: black;">
                          <h6 class="mt-0 mb-1 fs-md fw-semibold">
                            {{ (notification.user.firstName && notification.user.lastName) ? (notification.user.firstName + ' ' + notification.user.lastName) : notification.user.companyName }}
                          </h6>
                          <div class="fs-sm text">
                            <p class="mb-1"><strong>{{notification.message}}</strong></p>
                          </div>
                        </a>
                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                          <span><i class="mdi mdi-clock-outline"></i>{{ getTimeElapsed(notification.createdAt) }} </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <h6 *ngIf="readNotifications.length > 0" class="mt-2 mb-1 fs-md fw-semibold text-overflow text-muted fs-sm my-2 text-uppercase notification-title ng-star-inserted">Read Before</h6>
                <div *ngFor="let notification of readNotifications">
                  <div class="text-reset notification-item d-block dropdown-item position-relative" [ngClass]="!notification.isRead?'read-message':''" style="border-bottom: 1px solid #D3D3D3">
                    <div class="d-flex">
                      <div class="avatar-xs me-3 flex-shrink-0">
                            <span class="avatar-title  rounded-circle fs-lg">
                              <img class="rounded-circle header-profile-user" [src]="notification.user.photoProfileUrl" alt="Header Avatar">
                            </span>
                      </div>
                      <div class="flex-grow-1">
                        <a href="javascript:void(0);" class="stretched-link">
                          <h6 class="mt-0 mb-1 fs-md fw-semibold">{{notification.user.firstName}} {{notification.user.lastName}} {{companyName}}</h6>

                          <div class="fs-sm text-muted">
                            <p class="mb-1">{{notification.message}}</p>
                          </div>
                        </a>
                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                          <span><i class="mdi mdi-clock-outline"></i>{{ getTimeElapsed(notification.createdAt) }} </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-simplebar>
            </div>
          </div>
        </div>

        <div dropdown class="dropdown ms-sm-3 header-item topbar-user">
          <button dropdownToggle type="button" class="btn shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img class="rounded-circle header-profile-user" [src]="imageToShow" alt="Header Avatar">
                            <span class="text-start ms-xl-2">
                                <span *ngIf="role !== 'COMPANY'" class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{currentUser?.firstName}} {{currentUser?.lastName}}</span>
                                <span *ngIf="role === 'COMPANY'" class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{currentUser?.companyName}}</span>
                                <span class="d-none d-xl-block ms-1 fs-sm user-name-sub-text">{{role}}</span>
                            </span>
                        </span>
          </button>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-end">
            <!-- item-->
            <h6 *ngIf="role !== 'COMPANY'" class="dropdown-header">Welcome {{currentUser?.firstName}}!</h6>
            <h6 *ngIf="role === 'COMPANY'" class="dropdown-header">Welcome {{currentUser?.companyName}}!</h6>

            <a *ngIf="role === 'STAFF'" class="dropdown-item" routerLink="/Staff/pages/profile"><i class="mdi mdi-account-circle text-muted fs-lg align-middle me-1"></i> <span class="align-middle">Profile</span></a>
            <a *ngIf="role === 'COMPANY'" class="dropdown-item" routerLink="/Company/pages/profile"><i class="mdi mdi-account-circle text-muted fs-lg align-middle me-1"></i> <span class="align-middle">Profile</span></a>
            <a *ngIf="role === 'USER'" class="dropdown-item" routerLink="/User/pages/profile"><i class="mdi mdi-account-circle text-muted fs-lg align-middle me-1"></i> <span class="align-middle">Profile</span></a>
            <a class="dropdown-item" routerLink="/apps/chat"><i class="mdi mdi-message-text-outline text-muted fs-lg align-middle me-1"></i> <span class="align-middle"> Messages</span></a>
            <a class="dropdown-item" routerLink="/tickets/overview"><i class="mdi mdi-calendar-check-outline text-muted fs-lg align-middle me-1"></i> <span class="align-middle"> Taskboard</span></a>
            <a class="dropdown-item" routerLink="/pages/faqs"><i class="mdi mdi-lifebuoy text-muted fs-lg align-middle me-1"></i> <span class="align-middle"> Help</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/pages/profile"><i class="mdi mdi-wallet text-muted fs-lg align-middle me-1"></i> <span class="align-middle"> Balance : <b>$8451.36</b></span></a>
            <a class="dropdown-item" routerLink="/pages/profile-settings"><span class="badge bg-success-subtle text-success mt-1 float-end">New</span><i class="mdi mdi-cog-outline text-muted fs-lg align-middle me-1"></i> <span class="align-middle"> Settings</span></a>
            <a class="dropdown-item" routerLink="/auth/lockscreen"><i class="mdi mdi-lock text-muted fs-lg align-middle me-1"></i> <span class="align-middle"> Lock screen</span></a>
            <a class="dropdown-item" href="javascript: void(0);" (click)="logout()"><i class="mdi mdi-logout text-muted fs-lg align-middle me-1"></i> <span class="align-middle" data-key="t-logout"> Logout</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


