<footer class="footer bg-secondary text-light py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <span>{{year}} &copy; 1WayDev</span>
      </div>
      <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">
          <a href="https://www.facebook.com/1waycom" target="_blank" class="bi bi-facebook text-light mx-2"></a>
          <a href="https://www.github.com/1waycom" target="_blank" class="bi bi-github text-light mx-2"></a>
          <a href="https://www.linkedin.com/in/1waycom" target="_blank" class="bi bi-linkedin text-light mx-2"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
